$main-font-color: #87879D;
$main-line-height: 1.44;
$heading-font-color: #28283D;
$heading-line-height: 1.1;
$accent-font-color: #4D96A9;
$alt-font-color: #FAFAFA;
$bg-color: #FAFAFA;
$btn-bg: #4D96A9;
$btn-bg-hover: #8FE3F9;
$btn-bg-alt: #855FB1;
$btn-bg-alt-hover: #B18BDD;
$btn-border-radius: 29px;
$btn-color: #fff;
$btn-color-2: #8FE3F9;
$btn-color-alt-2: #D9B8FF;
$font-family: 'Red Hat Display',
sans-serif;
$font-weight: 500;
$bold-weight: 900;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;

  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}

body {
  font-size: 1rem;
  font-family: $font-family;
  font-weight: $font-weight;
  color: $main-font-color;
  line-height: $main-line-height;
  text-align: center;
}

h1,
h2 {
  font-weight: $bold-weight;
  color: $heading-font-color;
  line-height: $heading-line-height;
}

h2 {
  font-size: 3.56rem;
}

.h2-sm {
  font-size: 2.22rem;
}

.txt-alt {
  color: #fff;
  text-align: left;
}

button {
  border-radius: $btn-border-radius;
  background-color: $btn-bg;
  color: $btn-color;

  span {
    color: $btn-color-2;
  }

  .hover {
    background-color: $btn-bg-hover;
  }
}

.btn-alt {
  background-color: $btn-bg-alt;

  span {
    color: $btn-color-alt-2;
  }
}

.accent-font {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: .88rem;
}

.section-number {
  position: relative;
  border-radius: 50%;
  border: 1px solid rgba(135, 135, 157, 0.25);
  font-size: .88rem;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 84px;
    background-color: #87879D;
    opacity: .25;
  }
}

footer {

}